<!DOCTYPE html>
<html>
<head>
  <title>GMIN PULS</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header" class="clearfix">
  <h1>
    <%= link_to image_tag("/assets/logo.png"), "/" %>
    <div> to projekt nadzorowania wydawania podatków w gminach</div>
  </h1>
  <%= render(:partial => "layouts/social") %>
  <br/>
</div>
<div id="container">
  <%= yield %>
  <div class="clear"></div>
  <br/>
  <br/>
</div>

</body>
</html>
